a.hover{
    color: gray;
}
h1, h2, p{
    font-family: Arial;
}
body{
    background-color: rgb(255, 186, 199);
}
p{
    text-align: center;
}
.header{
    border-width: 4px;
    border-color: cyan;
    border-style: solid;
    /*padding-top: 80px;*/
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    background-color: rgb(40, 40, 40);
}
.header a{
    float: left;
    color: white;
    padding: 10px 20px 10px 20px;
}
.indexText{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    padding: 0px 60px 0px 60px;
    background-color: white;
    width: 900px;
}
.propic{
    width: 50px;
    border-style: solid;
    border-color: cyan;
    border-width: 2px;
}
.td{
    padding: 0px -20px 0px -20px;
}
.welcome{
    padding-top: 15px;
    line-height: 10px;
}