
a{
    color: white;
}
h1, h2, h3, p{
    font-family: Arial;
}
h3{
    text-align: center;
}
body{
    background-color: rgb(255, 186, 199);
}
p{
    text-align: center;
}
ul{
    font-family: Arial;
}
.appe-char{
    text-align: left;
}
.char-inside{
    text-align: left;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    font-family: "Fira Code";
    font-size: 13px;
}
.char-list{
    list-style-type: none;
    border: 2px solid cyan;
    text-align: center;
    padding-bottom: 3px;
    margin: 1px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: rgb(40, 40, 40);
    font-family: 'Source Code Pro', monospace;
}
.char-list:hover{
    background-image: linear-gradient(rgb(115, 165, 57), rgb(113, 155, 210));
}
.char-table{
    background-color: lightgreen;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: green;
    padding: 0px 10px 0px 10px;
    margin-left: 70px;
}
.charText{
    text-align: left;
    margin-top: -150px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown2{
    position: relative;
    display: inline-block;
}
.dropdown:hover .tpop-drop{
    margin-top: 43px;
    display: block;
}
.dropdown2:hover .ito-drop{
    margin-top: 43px;
    display: block;
}
.eod-but{
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    background-image: linear-gradient(rgb(152, 202, 94), rgb(150, 192, 247));
}
.eod-but:hover{
    background-image: linear-gradient(rgb(115, 165, 57), rgb(113, 155, 210));
}
.eod-but:active{
    border-width: 3px;
}
.header{
    border-width: 4px;
    border-color: cyan;
    border-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    background-color: rgb(40, 40, 40);
}
.header a{
    float: left;
    color: white;
    padding: 10px 20px 10px 20px;
}
.indexText{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    padding: 0px 60px 0px 60px;
    background-color: white;
    width: 900px;
}
.ito-but{
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    background-image: linear-gradient(rgb(255, 215, 0), rgb(192, 192, 192));
}
.ito-but:hover{
    background-image: linear-gradient(rgb(228, 178, 0), rgb(155, 155, 155));
}
.ito-but:active{
    border-width: 3px;
}
.ito-drop{
    display: none;
    position: absolute;
    background-color: rgb(40, 40, 40);
    min-width: 60px;
    z-index: 1;
}
.ito-drop a{
    color: white;
    padding: 15px 7px;
    text-decoration: none;
    display: block;
    margin-left: 12px;
}
.propic{
    width: 50px;
    border-style: solid;
    border-color: cyan;
    border-width: 2px;
}
.propic:hover{
    opacity: .7;
}
.rrt-but{
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    background-image: linear-gradient(rgb(205, 194, 99), rgb(138, 200, 146));
}
.rrt-but:hover{
    background-image: linear-gradient(rgb(168, 156, 62), rgb(101, 163, 109));
}
.rrt-but:active{
    border-width: 3px;
}
.td{
    padding: 0px -20px 0px -20px;
}
.tpop-but{
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    background-image: linear-gradient(rgb(137, 187, 120), rgb(143, 198, 219));
}
.tpop-but:hover{
    background-image: linear-gradient(rgb(100, 141, 83), rgb(106, 161, 182)); 
}
.tpop-but:active{
    border-width: 3px;
}
.tpop-drop{
    display: none;
    position: absolute;
    background-color: rgb(40, 40, 40);
    min-width: 60px;
    z-index: 1;
}
.tpop-drop a{
    color: white;
    padding: 15px 7px;
    text-decoration: none;
    display: block;
}
.welcome{
    padding-top: 15px;
    line-height: 10px;
}